In [6]:
import pandas as pd

# Load the CSV file
coefficients_df = pd.read_csv('data/ridge_coefficients.csv')
coefficients_df.rename(columns={'Unnamed: 0' : 'Feature', '0' : 'Coefficient'}, inplace=True)
#df.rename(columns={'Feature': 'New Feature Name', 'Coefficient': 'New Coefficient Name'}, inplace=True)

coefficients_df.head()

                 Feature   Coefficient
0  simplified_model_5500  23919.125782
1   simplified_model_911  20751.827323
2  simplified_model_f650  19023.909873
3  simplified_model_f750  18326.129578
4  simplified_model_4500  17358.258727

In [8]:

# Calculate the absolute value of the coefficients
coefficients_df['Absolute Coefficient'] = coefficients_df['Coefficient'].abs()

# Get the top 10 features by absolute magnitude of the coefficient
top_10_features = coefficients_df.nlargest(15, 'Absolute Coefficient')

# Define the summary for each feature
summaries = {
    'Feature1': 'Summary for Feature1',
    'Feature2': 'Summary for Feature2',
    'Feature3': 'Summary for Feature3',
    'Feature4': 'Summary for Feature4',
    'Feature5': 'Summary for Feature5',
    'Feature6': 'Summary for Feature6',
    'Feature7': 'Summary for Feature7',
    'Feature8': 'Summary for Feature8',
    'Feature9': 'Summary for Feature9',
    'Feature10': 'Summary for Feature10',
}

# Create the Markdown table
markdown_table = "| Feature            | Coefficient Value | Absolute Coefficient | Summary                         |\n"
markdown_table += "|--------------------|-------------------|----------------------|---------------------------------|\n"
for _, row in top_10_features.iterrows():
    feature = row['Feature']
    coefficient = row['Coefficient']
    absolute_coefficient = row['Absolute Coefficient']
    summary = summaries.get(feature, 'No summary available')
    markdown_table += f"| {feature} | {coefficient} | {absolute_coefficient} | {summary} |\n"

print(markdown_table)

| Feature            | Coefficient Value | Absolute Coefficient | Summary                         |
|--------------------|-------------------|----------------------|---------------------------------|
| simplified_model_5500 | 23919.125781581064 | 23919.125781581064 | No summary available |
| simplified_model_911 | 20751.827322880476 | 20751.827322880476 | No summary available |
| simplified_model_f650 | 19023.90987283457 | 19023.90987283457 | No summary available |
| simplified_model_f750 | 18326.12957794028 | 18326.12957794028 | No summary available |
| simplified_model_4500 | 17358.258726541135 | 17358.258726541135 | No summary available |
| car_age | -17180.712128918083 | 17180.712128918083 | No summary available |
| simplified_model_tesla | 16889.82587672128 | 16889.82587672128 | No summary available |
| simplified_model_alfa-romeo | 16853.744497285887 | 16853.744497285887 | No summary available |
| simplified_model_3500 | 16704.175687535197 | 16704.175687535197 | No summary available |
| simplified_model_lx | 16247.090967106702 | 16247.090967106702 | No summary available |
| simplified_model_f250sd | 16018.648946059304 | 16018.648946059304 | No summary available |
| simplified_model_mirage | -15770.940411295687 | 15770.940411295687 | No summary available |
| simplified_model_gls | 15621.45026295052 | 15621.45026295052 | No summary available |
| simplified_model_panamera | 15381.227913060871 | 15381.227913060871 | No summary available |
| simplified_model_model | 15075.496304272663 | 15075.496304272663 | No summary available |